
<div class="row">
    <div class="col col-6">
        <h3>Why Insurance?</h3><br>
        <p>
            Need for Insurance
Insurance plans are beneficial to anyone looking to protect their family, assets/property and themselves from financial risk/losses: Insurance plans will help you pay for medical emergencies, hospitalisation, contraction of any illnesses and treatment, and medical care required in the future.
        </p>
        
    </div>

    <div class="col col-6" >

        <div class="container">
            <div class="center"><a href=""><button class="btn btn-primary">Buy Insurance</button></a><br><br>
              
                <a routerLink=""><button class="btn btn-primary">Renew Insurance</button></a><br><br>
                <a href=""><button class="btn btn-primary">Claim Insurance</button></a><br><br>
                <a routerLink="/estimate-calculation"><button class="btn btn-primary">Estimate Insurance Calculation</button></a>
              
            </div>
          </div>  
    </div>


</div>


